    <header class="header-image header-image-about">
        <div class="headline headline-link">
            <div class="container">
                <h1 class="heading-title">Claudia Crawford</h1>
                <h2 class="heading-sub">Impressionistic: Bold Colors and Brushstrokes</h2>
            </div>
        </div>
    </header>

    <div class="container about-container">
    	<div class="tile">
    		<div class="row">
    			<div class="col-sm-12">
					<div id="meet_img">
						<img src="/images/claudia.jpg" id="claudia-img">
						<div id="courtesy">Image courtesy of Minnetonka Center For the Arts</div>
					</div>

					<div class="info">
						<h2>Artist Statement</h2>  
						<hr class="hr-dark">

						<h3>As an artist I paint mostly American and Canadian landscapes, as well as other subjects.</h3>

						<p>My art style is largely Impressionistic:  bold colors and brushstrokes.  Long before I started painting I loved to look at paintings!  It started with visiting museums in Europe during trips abroad, where painters such as Van Gogh, Gaugin, Monet and other Impressionists fascinated me.  I drank in their bold colors and brushstrokes thick with paint.  Later the Swedish artist Birger Sandzen added to my fascination with color and bold brush strokes layered on in impasto.  The color I use was also influenced by the Fauve painters, with their almost outrageous use of color.  Other artists who very much influence my painting style are the works of Tom Thomson and the Canadian Group of Seven, especially Lauren Harris and Franklin Carmichael.  Their bold landscapes and Sandzen's have shaped my work in the last few years.
						Much in the same way that the Group of Seven expressed the ethos of the Canadian Landscape through their art, my hope is that my art expresses the American natural scene - as did the American California Landscape Impressionists, painters such as Edgar Payne, Franz Bischoff, Sam Hyde Harris and others.</p>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="info">
						<h2>About the Artist</h2>
						<hr class="hr-dark">

						<p>I began painting about 10 years ago and consider myself a self-taught artist.  Since 2010 I have taken classes and workshops at the Minnetonka Center for the Arts in Wayzata, Minnesota, having had the good fortune to study with Richard Krogstad, Jerry Calengor and Michele Combs.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>