    <header class="header-image header-image-contact">
        <div class="headline headline-link">
            <div class="container">
                <h1 class="heading-title">Claudia Crawford</h1>
                <h2 class="heading-sub">Impressionistic: Bold Colors and Brushstrokes</h2>
            </div>
        </div>
    </header>

    <div class="container contact-container">
    	<div class="tile">
	    	<div class="row">
	    		<div class="col-sm-12">
					<img class="contact-img" src="/images/contactimage.jpg"/>
					<div class="contact-info info">
						<h2>Contact Claudia</h2>
						<hr class="hr-dark">

						<p>I make my home in Minnesota. I am more than happy to field any questions,
							recieve any thoughts, and will endeavor to respond to your emails.</p>

						<h3>Please email <a href="mailto:ccrawford108@gmail.com">ccrawford108@gmail.com</a></h3>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="order info">
						<h2>Order Policy</h2>
						<hr class="hr-dark">

						<p>All paintings are originals and signed by Claudia.<br>
							Accepted Payment Method:  Payment is by means of PayPal.  PayPal accepts Visa, Master Card,
							 American Express and Discover cards.<br>
							All sales are final.<br>  
							Except for paintings indicated as already framed, framing is up to the buyer.<br>
							Shipping Information:  Paintings will be packaged carefully and sent through UPS or DHL.<br>
							Privacy Policy:  all personal and transaction information from buyer is kept strictly confidential.<br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>