    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Claudia Crawford</h1>
                <h2>Impressionistic: Bold Colors and Brushstrokes</h2>
            </div>
        </div>
    </header>

    <div class="container">

        <div id="quote">
            <h1 class="lead">"As an artist I paint mostly American and Canadian landscapes. My art style: Impressionistic - bold colors and brushstrokes."</h1>
            <p class="lead text-muted">- Claudia</p>
        </div>

        <hr class="featurette-divider">

        <div class="featurette" id="gallery">
            <a href="#/gallery" class="home-link">
                <img id="home-gallery-img" class="featurette-image-mosaic img-responsive" src="images/gallery.png">
            </a>
            <h2 class="featurette-heading">Gallery
            </h2>
            <p class="lead text-muted">From the towering pillars of the Rockies, to gentle European countrysides, to the beauty of her home state, Minnesota, a wide variety of natural beauty is on display.</p>
            <a href="#/gallery" class="home-link hvr-icon-forward">Peruse the online collection </a>
        </div>

        <hr class="featurette-divider">

        <div class="featurette" id="meet">
            <a href="#/about" class="home-link">
                <img id="home-about-img" class="featurette-image img-circle img-responsive" src="images/willow.jpg">
            </a>
            <h2 class="featurette-heading">Meet the Artist
            </h2>
            <p class="lead text-muted">My art style is largely Impressionistic: bold colors and brushstrokes. Long before I started painting I loved to look at paintings! It started with visiting museums in Europe during trips abroad, where painters such as Van Gogh, Gaugin, Monet and other Impressionists fascinated me. I drank in their bold colors and brushstrokes thick with paint. Later the Swedish artist Birger Sandzen added to my fascination with color and bold brush strokes layered on in impasto...</p>
            <a href="#/about" class="home-link hvr-icon-forward">Read on </a>
        </div>

        <hr class="featurette-divider">

        <div class="featurette" id="contact">
            <a href="#/contact" class="home-link">
                <img id="home-contact-img" class="featurette-image img-circle img-responsive" src="images/montmorency-email2.jpg">
            </a>
            <h2 class="featurette-heading">Contact Claudia
            </h2>
            <p class="lead text-muted">I make my home in Minnesota. I am more than happy to field any questions, receive any thoughts, and will endeavor to respond to your emails.</p>
            <a href="#/contact" class="home-link hvr-icon-forward">Send a message </a>
        </div>

        <hr class="featurette-divider">
    </div>